

<nav class="navbar navbar-expand-sm bg-light navbar-dark">

        <!-- Links -->
        <ul class="navbar-nav">
                <li class="nav-item">
                  <h2 style="color:grey">Fix My'Ship</h2>

                      </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
              <span>
                <input type="button" value="Login" style="color:white" routerLink='/login' class="btn btn-success nav-link"/>&nbsp;
               
            </span>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
                <input type="button" value="Register" style="color:white" routerLink='/register' class="btn btn-success nav-link"/>&nbsp;
          </li>
          
        </ul>
      
      </nav><br><br>
      
          
          
         
          
      <router-outlet></router-outlet>
